<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- Separate multipe recipients with a comma ',' -->
        <add key="ErrorNotificationsReceivers" value="test@test.com"/>
        <add key="MaxEmailSendingRetries" value="5"/>
        <add key="SleepBetweenEmailSendingRetriesMs" value="5000"/>

        <add key="ErrorMailSubject" value="[GRIPS IMPORT ERROR] GripsImportService failed."/>
        <add key="ReportMailSubject" value="[GRIPS IMPORT REPORT] GripsImportService completed."/>
    </appSettings>

    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network"
                  from="pios@test.com">
                <network
                  host="CJ-DV-SMTP-V001.esp.local"
                  port="25"
                  defaultCredentials="true"
        />
            </smtp>
        </mailSettings>

    </system.net>
</configuration>